h1 {
    text-align: center;
    font-size: 48px;    
}

button {
    height: auto;
    background-size: cover;
    border: 1px solid darkgray;
    border-radius: 8px;
}

.header-container {
    margin-bottom: 50px;
}

.button-container {
    display: flex;
    justify-content: space-around;
}

.choice {
    font-size: 36px;
}

.score {
    font-size: 36px;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 16px;
}